<div class="conteiner__all">
  <h2 class="title">Contato</h2>
  <div class="conteiner__contato">
    <div class="content_contato">
      <a href="mailto:v.m.moraes1997@gmail.com" target="_blank">
        <i #listaItens class="bi bi-envelope"></i>
      </a>
    </div>
    <div class="content_contato">
      <a href="http://wa.me/5511913592962" target="_blank">
        <i #listaItens class="bi bi-whatsapp"></i>
      </a>
    </div>
    <div class="content_contato">
      <a href="https://www.instagram.com/vitor__ars/profilecard/?igsh=MTNqYXZ2aHQ0dXRzOQ==" target="_blank">
        <i #listaItens class="bi bi-instagram"></i>
      </a>
    </div>
    <div class="content_contato">
      <a href="https://github.com/vitorcodeArt" target="_blank">
        <i #listaItens class="bi bi-github"></i>
      </a>
    </div>
  </div>
</div>
<footer class="copyright">© Desenvolvido por vitorcodeArt</footer>
