<section #conteiner__projetos class="conteiner__projetos row">
  <div class="content__projetos row col-12 col-sm-12 col-lg-7 col-xl-7">
    <h2>PROJETOS</h2>
    <div class="card__projeto row col-xs-12 col-sm-6 col-xl-6">
        <div class="link__projeto col-xs-12 col-sm-12 col-lg-12">
          <img src="/img/projeto-blog.png" alt="" srcset="">
          <div class="link__item">
            <ul class="link_botoes">
              <li class="site">
                <a href="https://angular-blog-beige-omega.vercel.app" target="_blank"><i class="bi bi-globe2"></i></a>
              </li>
              <li class="github">
                <a href="https://github.com/vitorcodeArt/angular-blog" target="_blank"><i class="bi bi-github"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="descricao__projeto col-xs-12 col-sm-12 col-lg-12">
          <h3>Blog Marvel</h3>
        </div>
    </div>
    <div class="card__projeto row col-xs-12 col-sm-6 col-xl-6">
      <div class="link__projeto col-xs-12 col-sm-12 col-lg-12">
        <img src="/img/projeto-buzzfeed.png" alt="" srcset="">
        <div class="link__item">
          <ul class="link_botoes">
            <li class="site">
              <a href="https://vercel.com/vitorcodearts-projects/angular-buzzfeed-quizz-clone" target="_blank"><i class="bi bi-globe2"></i></a>
            </li>
            <li class="github">
              <a href="https://github.com/vitorcodeArt/angular-buzzfeed-quizz-clone" target="_blank"><i class="bi bi-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="descricao__projeto col-xs-12 col-sm-12 col-lg-12">
        <h3>BuzzFeed</h3>
      </div>
    </div>
    <div class="card__projeto row col-xs-12 col-sm-4 col-xl-6">
      <div class="link__projeto col-xs-12 col-sm-12 col-lg-12">
        <img src="/img/pokeapi.png" alt="" srcset="">
        <div class="link__item">
          <ul class="link_botoes">
            <li class="site">
              <a href="https://main-pokedex-js.vercel.app" target="_blank"><i class="bi bi-globe2"></i></a>
            </li>
            <li class="github">
              <a href="https://github.com/vitorcodeArt/Main-Pokedex-Js"><i class="bi bi-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="descricao__projeto col-xs-12 col-sm-12 col-lg-12">
        <h3>PokeApi</h3>
      </div>
    </div>
    <div class="card__projeto row col-xs-12 col-sm-4 col-xl-6">
      <div class="link__projeto col-xs-12 col-sm-12 col-lg-12">
        <img src="/img/sistema-bancario.png" alt="" srcset="">
        <div class="link__item">
          <ul class="link_botoes">
            <li class="github">
              <a href="https://github.com/vitorcodeArt/Sistema_bancario" target="_blank"><i class="bi bi-github"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="descricao__projeto col-xs-12 col-sm-12 col-lg-12">
        <h3>Sistema Bancário</h3>
      </div>
    </div>
  </div>
  <div class="content__habilidades col-xs-12 col-sm-12 col-lg-4 col-xl-4">
    <h2>HABILIDADES</h2>
    <ul class="listaItens">
      <li #listaItens class="habilidade box-html5">
        <i class="bi bi-filetype-html html5"></i>
      </li>
      <li #listaItens class="habilidade css3">
        <i class="bi bi-filetype-css css3"></i>
      </li>
      <li #listaItens class="habilidade js">
        <i class="bi bi-filetype-js js"></i>
      </li>
      <li #listaItens class="habilidade json">
        <i class="bi bi-filetype-json"></i>
      </li>
      <li #listaItens class="habilidade">
        <i class="fi fi-brands-typescript ts"></i>
      </li>
      <li #listaItens class="habilidade">
        <i class="fi fi-brands-java java"></i>
      </li>
      <li #listaItens class="habilidade">
        <i class="fi fi-brands-python py"></i>
      </li>
      <li #listaItens class="habilidade">
        <i class="fi fi-brands-postgre postgre"></i>
      </li>
      <li #listaItens class="habilidade ">
        <i class="bi bi-bootstrap bootstrap"></i>
      </li>
      <li #listaItens class="habilidade">
        <i class="fi fi-brands-node-js node"></i>
      </li>
    </ul>
    <div class="habilidades__experiencias row">
      <ul class="hab__content html-hover col-xs-4 col-sm-4 col-lg-4">
        <li>Html5</li>
        <li>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Css3</li>
        <li>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>JavaScript</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Json</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Typescript</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Java</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Python</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Postgre</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>Bootstrap</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
      <ul class="hab__content col-6 col-sm-4 col-lg-4">
        <li>NodeJs</li>
        <li>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-rs-star"></i>
          <i class="fi fi-ss-star-sharp-half-stroke"></i>
          <i class="fi fi-ss-star"></i>
          <i class="fi fi-ss-star"></i>
        </li>
      </ul>
    </div>
  </div>

</section>
<!-- <div class="projeto">
        <img src="/img/projeto-blog.png" alt="" srcset="">
      </div>
      <div class="projeto">
        <img src="/img/projeto-blog.png" alt="" srcset="">
      </div>
      <div class="projeto">
        <img src="/img/projeto-blog.png" alt="" srcset="">
      </div>
      <div class="projeto">
        <img src="/img/projeto-blog.png" alt="" srcset="">
      </div> -->
