<section class="banner row">
  <div class="informacao col-sm-12 col-lg-6">
    <h1 #content__nome class="content__nome ledPiscando" >VITOR MENEZES</h1>
    <h2 #content__linguagem class="content__linguagem">
      CODE<br>
      <span #text1 id="text1">ANGUL</span>
      <span id="text2">AR</span>
      <span #text3 id="text3">T</span>
    </h2>

    <div #content__office class="content__office">
      <p>Analista e Desenvolvedor de Sistemas</p>
      <a href="#projetos" class="btn btn-outline-secondary">Saiba mais</a>
    </div>
  </div>
  <div class="about col-sm-12 col-lg-6">
    <img #luminaria class="photo__luminaria hide-element" src="/img/luz-de-teto.png" alt="luz de teto" srcset="">
    <div  class="sobreMim">
      <h2 #title>SOBRE</h2>
      <p #sobreMim>Desenvolvedor com 20 anos, atualmente cursando Análise e Desenvolvimento de Sistemas pela Estácio. Possuo experiência em desenvolvimento web e automação de tarefas, utilizando tecnologias como TypeScript, Angular, Node.js e Python. Sou adaptável, com uma forte orientação para metodologias ágeis (Scrum), habilidades em resolução de problemas e aprendizado contínuo.</p>
    </div>
  </div>
</section>



